<aside class="left-sidebar">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h1>
        <a [routerLink]="'/'">OS Control</a>
      </h1>
    </div>
    <ul class="list-unstyled menu-sidebar components">
      <li>
        <a [routerLink]="'/os'">
            <fa-icon [icon]=""></fa-icon> Ordem de Serviço
        </a>
        <a [routerLink]="'/cliente'">
            <fa-icon [icon]=""></fa-icon> Cliente
        </a>
        <a [routerLink]="'/usuario'">
            <fa-icon [icon]=""></fa-icon> Usuário
        </a>
      </li>
    </ul>
  </nav>
</aside>
